[Unit]
Description=Botti Daemon
After=network.target

[Service]
WorkingDirectory=%h/botti
ExecStart=/usr/bin/python3 -m botti --symbol BTC/USDT:USDT --fee 0.0005 --leverage 3
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target