[Unit]
Description=Botti Daemon
After=network.target

[Service]
WorkingDirectory=%h/botti
ExecStart=/usr/bin/python3 -m botti
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target